.menu{
    grid-area: m;

}
.menu div{
    margin-top:1rem;
    text-align: center;
    border: 0.02rem solid black;
}
.menu div a{
    text-decoration: none;
    display:block;
    padding: 1rem;
    color: black;
    font-size: 1rem;
}
.menu div a:hover {
    background-color: #555555;
    color: white;
  }
  .menu div a.activeLink {
      background-color: #555555;
      color: white;
  }
