.main{
    margin: 1rem;
}
.friend{
   margin-top:1rem; 
}
.friend .avatar{
    
    width: 100px;
    height: 100px;
     
}
.friend p{
    display: inline-block;
    font-weight: bold;
    font-size: 1rem;
}
.btnFollow{
    text-decoration: none;
    border-radius: 20px;
    padding: 0.6rem;
    color:black; 
    font-weight: normal;
    font-size: 0.9rem;  
}
.follow{
    background: linear-gradient(to top left, powderblue, pink); 
}
.unfollow{
    background: #555555;
    opacity: 0.7;
}
.friend .followPreloader{
    width: 30x;
    height: 30px;
}
.pages{
    list-style-type: none;
    text-align: center;
}
.pages li{
    display: inline-block;
    margin-left: 1rem;
}
.pages li a{
    outline: inherit;
    cursor: pointer;
} 
.activePage{
    padding:0.5rem;
    background: #2ABFB4;
}