.main{
    margin: 1rem;
}
.friend{
   margin-top:1rem; 
}
.friend .avatar{
    
    width: 100px;
    height: 100px;
     
}
.friend p{
    display: inline-block;
}
.friend .btnFollow{
    text-decoration: none;
    border:0.02rem solid black;
    padding: 0.2rem;
    color:black;
    
}
.follow{
    background-color: rgb(15, 207, 63);
}
.unfollow{
    background-color: rgb(235, 8, 8);
}
.friend .followPreloader{
    width: 30x;
    height: 30px;
}
.pages{
    list-style-type: none;
    text-align: center;
}
.pages li{
    display: inline-block;
    margin-left: 1rem;
}
.pages li a{
    outline: inherit;
    cursor: pointer;
} 
.activePage{
    padding:0.5rem;
    background: #2ABFB4;
}