.main textarea{
  overflow: auto;
  resize: none;
  border: 0.02rem solid black;
  margin-top: 2rem;
  margin-left: 2rem;
  width: 40%;
  height: 7rem;
}
.main a{
  text-decoration: none;
  display:inline;
  position: relative;
  margin:1rem;
  top:-5.5rem;
  padding: 0.5rem;
  color:black;
  border:0.02rem solid black;
}
.main a:hover {
  background-color: #555555;
  color: white;
}

.posts{
  margin: 1rem;
}
.post{
  display: grid;
  grid-template-columns: 100px auto 30px;
  margin-top:1rem;
  margin-left:2rem;
  border-radius: 1rem;
  background: rgba(63, 197, 186, 0.363);
  padding: 1rem;
}
.post img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.delPost img{
  height: 20px;
  width: 20px;
  cursor: pointer;
}
.message{
  margin-left:2rem;
}
.message :first-child{
  font-weight: bold;
}
.noPosts{
  text-align: center;
  font-size: 3rem;
  opacity: 0.5;
}

/*@keyframes move { 
  0% { opacity: 0; }   
  100% { opacity: 1; }   
}

.animation_add{
  margin:1rem;
  border-radius: 1rem;
  background: #DAE8E2;
  padding: 1rem;
  animation: move 2s ease 0s 1 normal;
}*/