.App{
    display: grid;
    grid-template-rows: 7rem 30rem minmax(1rem, 1fr) 4rem;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 1%;
    grid-template-areas: "h h h h h h h h h h h h"
                         "m m m c c c c c c c c c"
                         ". . . c c c c c c c c c"
                         "f f f f f f f f f f f f";
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    min-width: 1000px;
    max-width: 1300px;


}
.content{
    grid-area: c;    
}
