.App{
    display: grid;
    grid-template-rows: 8rem 30rem auto 4rem;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 1%;
    grid-template-areas: "h h h h h h h h h h h h"
                         "m m m c c c c c c c c c"
                         ". . . c c c c c c c c c"
                         "f f f f f f f f f f f f";
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    min-width: 1000px;
    max-width: 1300px;


}

.header{
    grid-area: h; 
}
.menu{
    grid-area: m;
    margin-left:1rem;    
}
.content{
    grid-area: c;    
}
.footer{
    grid-area: f;
    background:rgba(19, 10, 10, 0.568);    
}
